.RepositoryItem {
    .repository_item__container {
        background-color: #ffffff;
        min-height: 6.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1.875rem;
        padding-right: 0.9375rem;
        gap: 1.5625rem;
        .repository_item_title {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.8125rem;
            color: #0064eb;
        }
        .repository_item_description {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.1875rem;
            color: #000000;
        }
    }
}
