.RepositoryItem {
    .repository_item__container {
        background-color: #ffffff;
        min-height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-right: 15px;
        gap: 25px;
        .repository_item_title {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #0064eb;
        }
        .repository_item_description {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
    }
}
