.Header {
    background-color: #0064eb;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header__content-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
        .logo-img {
            cursor: pointer;
            transition: 0.1s;
            &:hover {
                transform: scale(1.05);
                filter: invert(10%);
            }
        }
        .header-search {
            .header-search_input {
                width: 500px;
                height: 40px;
                background: #ffffff;
                border-radius: 6px;
                border: none;
                background-image: url('../../assets/svg/search_icon.svg');
                background-repeat: no-repeat;
                background-position: 20px;
                outline: none;
                padding-left: 45px;
            }
        }
    }
}
