.Header {
    background-color: #0064eb;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    .header_content-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .logo-img {
            cursor: pointer;
            :hover {
                opacity: 0.9;
                transition: 0.2s;
            }
        }
        .header-search {
            .header-search_input {
                width: 500px;
                height: 40px;
                background: #ffffff;
                border-radius: 6px;
                border: none;
                background-image: url('../../assets/svg/search_icon.svg');
                background-repeat: no-repeat;
                background-position: 20px;
                outline: none;
                padding-left: 45px;
            }
        }
    }
}
