.UserNotFoundPage {
    background-color: #f9f9f9;
    .user-not-found-page__content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.8125rem;
        img {
            width: 64.16752624511719px;
        }
        .description {
            max-width: 13.125rem;
            font-size: 1.375rem;
            line-height: 140%;
            text-align: center;
            color: #808080;
        }
    }
}
