.Footer {
    background-color: #f9f9f9;
    .footer__content-container {
        display: flex;
        justify-content: flex-end;
        // align-items: center;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        padding-right: 3rem;

        .count-items {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.3125rem;
            color: #808080;
            order: 0;
            flex-grow: 0;
            margin-right: 1.25rem;
        }
        .pages-block {
            display: flex;
            position: relative;
            // justify-content: flex-end;

            .page-number-block {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.3125rem;
                display: flex;
                align-items: center;
                color: #808080;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            .arrow {
                display: flex;
                cursor: pointer;
                height: 0.625rem;
                width: 0.625rem;
                margin-top: 0.125rem;
                margin-top: 0.3125rem;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .arrow-left {
            transform: rotate(180deg);
        }
        .arrow-right {
        }
    }
}
