.Main {
    background-color: #f9f9f9;
    .main__content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 4.375rem;
    }
}
