@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular&display=swap);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 320px;
}
body {
    line-height: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}
ul {
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
[class*='__content-container'] {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
