.Repositories {
    width: 100%;
    background-color: #f9f9f9;
    .repositories__container {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        .repositories_title {
            font-weight: 600;
            font-size: 2rem;
            line-height: 130%;
            color: #000000;
        }
        .repositories_list {
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;
        }
    }
}

.RepositoryItem {
    .repository_item__container {
        background-color: #ffffff;
        border-radius: 6px;
        min-height: 6.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1.875rem;
        padding-right: 0.9375rem;
        gap: 1.5625rem;
        box-sizing: border-box;
        transition: 0.1s;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid #0064eb;
        }
        .repository_item_title {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.8125rem;
            color: #0064eb;
        }
        .repository_item_description {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.1875rem;
            color: #000000;
        }
    }
}
